<h3>Edit your Address</h3>
<%= form_for @address, :url => "update/#{@address.id}" do |f| %>
<%= render 'error_messages' %>

<%= f.label :address_line1 %>
<%= f.text_field :address_line1 %>
	
<%= f.label :locality %>
<%= f.autocomplete_field :locality, address_autocomplete_location_area_path, :id_element => '', :update_elements => {:city => '#address_city',:state => '#address_state', :pincode => '#address_pin' } %></br>


<%= f.label :city %>
<%= f.text_field :city, :readonly => true %></br>

<%= f.label :state %>
<%= f.text_field :state, :readonly => true %></br>

<%= f.label :pin %>
<%= f.text_field :pin, :readonly => true %></br>

<%= f.label :country %>
<%= f.text_field :country, :value => "India" ,:readonly => true %></br>

</br></br>

<%= f.submit "Update", class: "btn btn-small" %>

<% end %>