<%= title('My Addresses') %>

<h3>Current addresses</h3><br/>

<% if !@address.empty? %>
  <% i = 0 %> 
  <% while i <= (@address.length/4) + (4 - @address.length % 4) %>
    <div class='row'>
      <% j = 0 %>
      <% while ((j<4) and ((i*4) + j) < @address.length ) %>
        <% k = (i * 4) + j %>
        <div class='col-md-3'>
          <table class='table table-striped table-bordered table-condensed table-nonfluid' id='address_index_table'>
            <tbody>
              <tr><td colspan='2'><i class='fa fa-home'></i></td></tr>
              <tr>
                <td colspan='2' style='height:100px;'>
                  <%= @address[k].address_line1 %></br>
                  <%= @address[k].pin %></br>
                </td>
              </tr>
              <tr>
                <td class='manage'><%= link_to 'Edit', edit_address_path(@address[k].id), class: 'btn btn-default '%></td>
                <td class='manage'><%= link_to 'Delete', address_path(@address[k].id), method: 'delete', class: 'btn btn-default ', data: { confirm: 'Are You Sure' }%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <% j+=1 %>
      <% end %>
    </div>  
    <% i = i + 1 %>
  <% end %>
<% end %>
<br />

<%= link_to 'Add an address', new_address_path, class: 'btn btn-default' %>
