<h3>Current addresses</h3>

<% if !@address.empty? %>
<table class="custom-table">
  <tbody>
    <% i = 0 %> 
    <% while i <= @address.length/2 + @address.length%2  %>
    <tr>
      <td>
        <table class="table table-striped table-bordered table-condensed table-nonfluid">
          <tbody>
            <tr>
              <td colspan='2'>
                <%= @address[i].address_line1 %></br>
                <% if @address[i].landmark? %>
                  Landmark: <%= @address[i].landmark %>
                <% end %>   
                <%= @address[i].locality %></br>
                <%= @address[i].city %></br>
                <%= @address[i].state %></br>
                <%= @address[i].pin %></br>
              </td>
            </tr>
            <tr>
              <td><%= link_to "Edit", edit_addres_path(@address[i].id), class: "btn btn-small "%></td>
              <td><%= link_to "Delete", addres_path(@address[i].id), :method => "delete", class: "btn btn-small ", :confirm => "Are you sure? "%>
              </td>
                
            </tr>
          </tbody>
        </table>
      </td>
      <% if !@address[i+1].nil? %>
        <td>
          <table class="table table-striped table-bordered table-condensed table-nonfluid">
            <tbody>
              <tr>
                <td colspan='2'>
                  <%= @address[i+1].address_line1 %></br>
                  <% if @address[i+1].landmark? %>
                    Landmark: <%= @address[i+1].landmark %>
                  <% end %>   
                  <%= @address[i+1].locality %></br>
                  <%= @address[i+1].city %></br>
                  <%= @address[i+1].state %></br>
                  <%= @address[i+1].pin %></br>
                </td>
              </tr>
              <tr>
                <td><%= link_to "Edit", edit_addres_path(@address[i+1].id), class: "btn btn-small "%></td>
                <td><%= link_to "Delete", addres_path(@address[i+1].id), :method => "delete", class: "btn btn-small ", :confirm => "Are you sure? "%></td>
              </tr>
            </tbody>
          </table>
        </td>
      <% end %>
      <% i+=2 %>
    </tr>
    <% end %>
  </tbody> 
</table>
<% end %>
<br />

<%= link_to 'Add an address', new_addres_path, class: "btn btn-small" %>
