<h3>Address</h3>
<%= form_for @address, :url => address_index_path do |f| %>

<%= render 'error_messages' %>

<%= f.text_area :address_line1, :size => "20 x 5", :resize => :none, :placeholder => "Address Line 1", :required => :true %></br>

<%= f.text_field :landmark, :placeholder => :Landmark %></br>	
<%= f.text_field :locality, :placeholder => :Locality, :required => :true %></br>
<%= f.text_field :city, :readonly => true, :placeholder => :City %></br>
<%= f.text_field :state, :readonly => true, :placeholder => :State %></br>
<%= f.text_field :pin, :readonly => true, :placeholder => :Pin %></br>
<%= f.text_field :country, :value => "India", :readonly => true %></br>
</br></br>

<%= tag "input", :type => "button", :id => "add_address", :class => "btn btn-small" , :value => "Add " %></br></br>

<%= link_to "Back", address_index_path, class: "btn btn-small" %>

<p style=" position:absolute; margin-left:230px; top:285px;" hidden="true" id="locality_empty"><i><b>No Such Locality Found</b></i></p>

<% end %>