<h1>Build your profile</h1>
<%= form_for @address, :url => "create" do |f| %>

<%= render 'error_messages' %>

<%= f.label :address_line1 %>
<%= f.text_field :address_line1, :size => 10 %>

<%= f.label :address_line2 %>
<%= f.text_field :address_line2 %></br>	

<%= f.label :address_line3 %>
<%= f.text_field :address_line3 %></br>
	
<%= f.label :locality %>
<%= f.autocomplete_field :locality, address_autocomplete_location_area_path, :id_element => '', :update_elements => {:city => '#address_city',:state => '#address_state', :pincode => '#address_pin' } %>

<%= f.label :city %>
<%= f.text_field :city ,:readonly => true %></br>

<%= f.label :state %>
<%= f.text_field :state,:readonly => true %></br>

<%= f.label :pin %>
<%= f.text_field :pin,:readonly => true %></br>

<%= f.label :country %>
<%= f.text_field :country, :value => "India" ,:readonly => true %></br>

</br></br>

<%= f.submit "Add", class: "btn btn-small" %>
<%= link_to "Back", address_view_path, class: "btn btn-small" %>

<% end %>