<h3>Current addresses</h3>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Address Line 1</th>
    <th>Address Line 2</th>
    <th>Address Line 3</th>
    <th>Locality</th>
    <th>City</th>
    <th>State</th>
    <th>Pin</th>
    <th>Country</th>
    <th colspan="2">Manage</th>
  </tr>

<% @address.each do |address| %>
  <tr>
    <td><%= address.address_line1 %></td>
    <td><%= address.address_line2 %></td>
    <td><%= address.address_line3 %></td>
    <td><%= address.locality %></td>
    <td><%= address.city %></td>
    <td><%= address.state %></td>
    <td><%= address.pin %></td>
    <td><%= address.country %></td>  
    <td><%= link_to "Edit", address_edit_path(:address_id => address.id), :action => "edit", class: "btn btn-small "%></td>
    <td><%= link_to "Delete", address_delete_path(:address_id => address.id), :action => "delete", :confirm => "Are You Sure? ",class: "btn btn-small "%></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New address', address_new_path, class: "btn btn-small" %>
<%= link_to 'Back To Profile', profile_edit_path, class: "btn btn-small" %>