<h3 id="address_view_idd">Current addresses</h3>

<% if !@address.empty? %>
<table class="custom-table">
  <tbody>
    <% i = 0 %> 
    <% while i <= @address.length/2 + @address.length%2  %>
    <tr>
      <td>
        <table class="table table-striped table-bordered table-condensed table-nonfluid">
          <tbody>
            <tr>
              <td colspan='2'>
                <%= @address[i].address_line1 %></br>      
                <%= @address[i].locality %></br>
                <%= @address[i].city %></br>
                <%= @address[i].state %></br>
                <%= @address[i].pin %></br>
              </td>
            </tr>
            <tr>
              <td><%= link_to "Edit", address_edit_path(:address_id => @address[i].id), :action => "edit", class: "btn btn-small "%></td>
              <td><%= link_to "Delete", address_delete_path(:address_id => @address[i].id), :action => "delete", :confirm => "Are You Sure? ",class: "btn btn-small "%></td>
            </tr>
          </tbody>
        </table>
      </td>
      <% if !@address[i+1].nil? %>
        <td>
          <table class="table table-striped table-bordered table-condensed table-nonfluid">
            <tbody>
              <tr>
                <td colspan='2'>
                  <%= @address[i+1].address_line1 %></br>      
                  <%= @address[i+1].locality %></br>
                  <%= @address[i+1].city %></br>
                  <%= @address[i+1].state %></br>
                  <%= @address[i+1].pin %></br>
                </td>
              </tr>
              <tr>
                <td><%= link_to "Edit", address_edit_path(:address_id => @address[i+1].id), :action => "edit", class: "btn btn-small "%></td>
                <td><%= link_to "Delete", address_delete_path(:address_id => @address[i+1].id), :action => "delete", :confirm => "Are You Sure? ",class: "btn btn-small "%></td>
              </tr>
            </tbody>
          </table>
        </td>
      <% end %>
      <% i+=2 %>
    </tr>
    <% end %>
  </tbody> 
</table>
<% end %>
<br />

<%= link_to 'Add an address', address_new_path, class: "btn btn-small" %>
