<h3>Add a book</h3>
<%= form_tag  user_book_create_path, :action => "create", :method => "post" do %>

<%= label_tag :isbn %>
<%= text_field_tag :isbn, nil, :disabled => true  %>

<%= label_tag :book_name %>
<%= autocomplete_field_tag :book_name, nil, user_book_autocomplete_book_detail_book_name_path, :id_element => '', :update_elements => {:id => '#id', :isbn => '#isbn', :author => '#author',:language => '#language', :genre => '#genre', :version => '#version', :edition => '#edition', :publisher => '#publisher', :pages => '#pages', :mrp => '#mrp' } %>

<%= label_tag :author %>
<%= text_field_tag :author , nil, :disabled => true %></br>
	
<%= label_tag :language %>
<%= text_field_tag :language, nil, :disabled => true %>

<%= label_tag :genre %>
<%= text_field_tag :genre, nil, :disabled => true %></br>

<%= label_tag :version %>
<%= text_field_tag :version, nil, :disabled => true %></br>

<%= label_tag :edition %>
<%= text_field_tag :edition, nil, :disabled => true %>

<%= label_tag :publisher %>
<%= text_field_tag :publisher, nil, :disabled => true %>

<%= label_tag :pages %>
<%= text_field_tag :pages, nil, :disabled => true %>

<%= label_tag :mrp %>
<%= text_field_tag :mrp, nil, :disabled => true %>

<%= label_tag :available_in_city , "Available from Address"%>
<%= collection_select :user_book, :available_in_city, @address, :id, :address_summary  %>

<%= label_tag :rental_price %>
<%= text_field_tag :rental_price %></br></br>

<%= hidden_field_tag :id %>

<%= submit_tag 'Submit' %>

<% end %>