<h4>Address Info</h4>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Address Line 1</th>
    <th>Address Line 2</th>
    <th>Address Line 3</th>
    <th>Locality</th>
    <th>City</th>
    <th>State</th>
    <th>Pin</th>
    <th>Country</th>
  </tr>

<% @user.addresses.each do |ua| %>
  <tr>
    <td><%= ua.address_line1 %></td>
    <td><%= ua.address_line2 %></td>
    <td><%= ua.address_line3 %></td>
    <td><%= ua.locality %></td>
    <td><%= ua.city %></td>
    <td><%= ua.state %></td>
    <td><%= ua.pin %></td>
    <td><%= ua.country %></td>  
  </tr>
  <% end %>
</table>