<h3><%= User.find(params[:id]).full_name %>'s Transaction History</h3>

<%= content_tag 'a', 'Filter By Date Range ->', id: :dates_filter_toggle %><br/><br/>
<div id='dates_filter_div' style='display:none;'>
  <div class='col-md-3'>
    <%= text_field_tag :min_req, nil, :placeholder => 'Min Req Date (YYYY-MM-DD)', class: 'form-control' %>
  </div>
  <div class='col-md-3'>  
    <%= text_field_tag :max_req, nil, :placeholder => 'Max Req Date (YYYY-MM-DD)', class: 'form-control' %>
  </div>  
</div>
<br/>

<% if !@t_history.empty? %>
  <table id='<%= params[:id] %>_transaction_history' class='table table-striped table-bordered table-condensed datatable'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Book Name</th>
        <th>Lender/Borrower</th>
        <th>Rating</th>
        <th>Request Date </th>
      </tr>
    <thead>

    <tbody>
      <% @t_history.each do |th| %>
        <tr>
          <td><%= link_to th.id, transaction_details_path(th.id) %></td>
          <!-- Book Name -->
          <% th_book = Book.find(Inventory.find(th.inventory_id).book_id) %>
          <td><%= link_to th_book.book_name, book_history_path(th_book.id) %></td>
        <!-- Checking If user is Lender or borrower for this transaction -->
          <% if th.lender_id == current_user.id %>
            <!-- Link To full Profile -->
            <td>
              <%= link_to User.find(th.borrower_id).full_name, "/profile/public_rating/#{th.id}" %> &nbsp;
            </td>

            <!-- feedback -->
            <td>
              <%= th.borrower_feedback.capitalize %>
            </td>
          <% else %>
            <td>
              <%= link_to User.find(th.lender_id).full_name, "/profile/public_rating/#{th.id}" %> &nbsp;
            </td>
            <td>
              <%= th.lender_feedback.capitalize %>
            </td>
          <% end %>

          <td><%= th.request_date.to_date.to_s %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <%= form_tag do %>
          <th><%= text_field_tag('search_id', nil, placeholder: 'Id') %></th>
          <th><%= text_field_tag('search_book_name', nil, placeholder: 'Book Name') %></th>
          <th><%= text_field_tag('search_lb', nil, placeholder: 'Lender/Borrower') %></th>
          <th><%= text_field_tag('search_rating', nil, placeholder: 'Rating') %></th>
          <th><%= text_field_tag('search_req_date', nil, placeholder: 'Req Date') %></th>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>