<div class='row'>

  <h3><%= @book.book_name %> History</h3><br/>
  <div class='col-md-12 well'>
    <ul style='list-style-type: none'>
      <div class='col-md-2'>
        <li>ISBN</li>
        <li>Genre</li>
        <li>Publisher</li>
      </div>
      <div class='col-md-2'>
        <li>: <%= @book.isbn %></li>
        <li>: <%= @book.genre %></li>
        <li>: <%= @book.publisher %></li>
      </div>
      <div class='col-md-2'>
        <li>Author</li>        
        <li>Pages</li>
        <li>Edition</li>
      </div>
      <div class='col-md-2'>
        <li>: <%= @book.author %></li>
        <li>: <%= @book.pages %></li>
        <li>: <%= @book.edition %></li>
      </div>
      <div class='col-md-2'>
        <li>Version</li>
        <li>Language</li>
      </div>
      <div class='col-md-2'>
        <li>: <%= @book.version %></li>
        <li>: <%= @book.language %></li>
      </div>
    </ul>
  </div>
  
  <table id='<%= @book.id %>_book_history' class='table table-striped table-bordered table-hover table-condensed datatable'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Lender</th>
        <th>Borrower</th>
        <th>Request Date</th>
        <th>Borrow Duration</th>
        <th>Total Duration</th>
      </tr>
    </thead>
    <tbody>
      <% @b_history.each do |bh| %>
        <tr>
          <td><%= link_to bh.id, transaction_details_path(bh.id) %></td>
          <td><%= link_to User.find(bh.lender_id).full_name, "/profile/public_rating/#{bh.lender_id}" %></td>
          <td><%= link_to User.find(bh.borrower_id).full_name, "/profile/public_rating/#{bh.lender_id}" %></td>
          <td><%= bh.request_date.to_s(:long) %></td>
          <td><%= ((bh.returned_date - bh.received_date)/60/60/24).ceil %></td>
          <td><%= ((bh.return_received_date - bh.request_date)/60/60/24).ceil %></td>
        </tr>
      <% end %>  
    </tbody>
    <tfoot>
      <tr>
        <%= form_tag do %>
          <th><%= text_field_tag('search_id', nil, placeholder: 'Id', class: 'form-control') %></th>
          <th><%= text_field_tag('search_lender', nil, placeholder: 'Lender', class: 'form-control') %></th>
          <th><%= text_field_tag('search_borrower', nil, placeholder: 'Borrower', class: 'form-control') %></th>
          <th><%= text_field_tag('search_req_date', nil, placeholder: 'Request Date', class: 'form-control') %></th>
          <th><%= text_field_tag('search_b_duration', nil, placeholder: 'Borrowed', class: 'form-control') %></th>
          <th><%= text_field_tag('search_t_duration', nil, placeholder: 'Total', class: 'form-control') %></th>
        <% end %>
      </tr>
    </tfoot>
  </table>



  <br/>
</div>
