<h3>Add a book</h3></br>
<%= form_for @book, :url => book_index_path do |f| %>

<%= render 'error_messages' %>

<%= f.text_field :isbn, :placeholder => :ISBN, :required => :true %></br>

<%= f.text_field :book_name, :placeholder => "Book Name", :required => :true %></br>	

<%= f.text_field :author, :placeholder => :Author, :required => :true %></br>
	
<%= f.text_field :language, :placeholder => :Language, :required => :true %></br>

<%= f.text_field :genre, :placeholder => :Genre, :required => :true %></br>

<%= f.text_field :version, :placeholder => :Version, :required => :true %></br>

<%= f.text_field :edition, :placeholder => :Edition, :required => :true %></br>

<%= f.text_field :publisher, :placeholder => :Publisher, :required => :true %></br>

<%= f.text_field :pages, :placeholder => :Pages, :required => :true  %></br>

<%= f.text_field :mrp, :placeholder => :MRP, :required => :true %></br>

</br>

<%= f.submit "Add", class: "btn btn-small" %>
<%= link_to "Back", book_index_path, class: "btn btn-small" %>

<% end %>