<h4> Summary of Requests for Books you've lent out </h4>
<div class='row'>
	<div class='col-md-11'>
		<table id = 'accepted_requests_table' class='table table-striped table-bordered table-condensed'>
			<thead>
				<tr>
					<th>Book Name</th>
					<th>Borrower</th>
					<th colspan='2'>Status</th>
					<th>Timeline</th>
				</tr>
			</thead>
			<tbody>
				<% unless @accept.blank? %>
					<% @accept.each do |a| #CHECKID %>
						<tr id='accepted_<%= a.id %>' >

							<td><%= Book.find(Inventory.find(a.inventory_id).book_id).book_name %></td>

							<td>
								&nbsp;<i class='fa fa-user' id='public_rating_<%= a.id %>'>&nbsp;</i>
								<%= link_to User.find(a.borrower_id).full_name,  "javascript:void(0)", :id => "name_chat_#{a.id}" %> &nbsp;
								<% if (DateTime.now.to_time - Profile.where(:user_id => a.borrower_id).first.last_seen_at < 6.5 ) %>
									<%= image_tag("online_dot.png", :size => "12x12", class: 'img-circle', :id => "online_" + a.id.to_s, "data-trid" => a.id, "data-currentcn" => User.find(current_user.id).profile.chat_name, "data-lendercn" => User.find(a.lender_id).profile.chat_name, "data-borrowercn" => User.find(a.borrower_id).profile.chat_name, "data-title" => Book.where(:id => Inventory.where(:id => a.inventory_id).take.book_id).take.book_name) %>
								<% else %>
									<%= image_tag("online_dot.png", :hidden => :true, :size => "12x12", class: 'img-circle', :id => "online_" + a.id.to_s, "data-trid" => a.id, "data-currentcn" => User.find(current_user.id).profile.chat_name, "data-lendercn" => User.find(a.lender_id).profile.chat_name, "data-borrowercn" => User.find(a.borrower_id).profile.chat_name, "data-title" => Book.where(:id => Inventory.where(:id => a.inventory_id).take.book_id).take.book_name) %>
								<% end %>
							</td>
							
							<% if a.status == 'Accepted' %>

								<% if (User.find(a.lender_id).is_delivery or User.find(a.borrower_id).is_delivery) %>
									<td>
										<p id='p_accepted_<%= a.id %>'>Sent to Borrower</p>
									</td>
									<td>
										<input class='btn btn-default' type='button' disabled='true' value='Received' id='received_lender_<%= a.id %>' data-trid=<%= a.id %> />
									</td>
								<% else %>
									<td>
										<p id='p_accepted_<%= a.id %>'>Meetup as decided</p>
									</td>
									<td>	
										<input class='btn btn-default' type='button' value='Handed Over' id='handed_over_<%= a.id %>' data-trid=<%= a.id %> />
									</td>
								<% end %>

							<% else %>

								<% if a.returned_date.nil? %>
									<td>
										<p id='p_accepted_<%= a.id %>'>Received by Borrower</p>
									</td>
									<td>	
										<input class='btn btn-default' type='button' value='Received' id='received_lender_<%= a.id %>' disabled='true' data-trid=<%= a.id %> />
									</td>
								<% else %>
									<td>Returned by Borrower</td>
									<td><input class='btn btn-default' type='button' value='Received' id='received_lender_<%= a.id %>' data-trid=<%= a.id %> />
									</td>
								<% end %>

							<% end %>
							<td>
								<%= tag 'input', type: :button, id: "timeline_#{a.id}", class: 'btn btn-default', value: 'View', rel: :popover, data: { 
									title: 'Timeline', 
									content: "
										<div style='font-size:90%;'>
											#{ if !a.acceptance_date.blank? then '<u>Requested</u><br/>' + a.acceptance_date.to_s(:long) + '<br/>' end }
											#{ if !a.request_date.blank? then '<u>Accepted</u><br/>' + a.request_date.to_s(:long) + '<br/>' end } 
											#{ if !a.received_date.blank? then '<u>Received</u><br/>' + a.received_date.to_s(:long) + '<br/>' end }
											#{ if !a.returned_date.blank? then '<u>Returned</u><br/>' + a.returned_date.to_s(:long) + '<br/>' end }
										</div>"
								} %>
							</td>
						</tr>
					<% end %>		
				<% end %>	
			</tbody>
		</table>
	</div>
</div>