<h4> Summary of Requests for Books you've lent out </h4>
<table id = "accepted_requests_table" class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Book Name</th>
			<th>Borrower</th>
			<th>Delivery Mode</th>
			<th>Acceptance Date</th>  
			<th>Received Date</th>
			<th>Returned Date</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% unless @accept.nil? %>
			<% @accept.each do |a| #CHECKID %>
				<tr id='accepted_<%= a.id %>' >
					<!-- Book Name -->
					<td><%= Book.find(Inventory.find(a.inventory_id).book_id).book_name %></td>

					<!-- Borrower -->
					<td>
						<%= link_to User.find(a.borrower_id).full_name,  "javascript:void(0)", :id => "public_rating_#{a.id}" %> &nbsp;
						<% if (DateTime.now.to_time - Profile.where(:user_id => a.borrower_id).first.last_seen_at < 6 ) %>
							<%= image_tag("online_dot.png", :size => "10x6", :id => "online_" + a.id.to_s, "data-trid" => a.id, "data-chatidlist" => @current_transactions_id, "data-currentcn" => User.find(current_user.id).profile.chat_name, "data-lendercn" => User.find(a.lender_id).profile.chat_name, "data-borrowercn" => User.find(a.borrower_id).profile.chat_name, "data-title" => Book.where(:id => Inventory.where(:id => a.inventory_id).take.book_id).take.book_name )%>
						<% else %>
							<%= image_tag("online_dot.png", :size => "10x6", :id => "online_" + a.id.to_s, :hidden => :true) %>
						<% end %>
					</td>

					<!-- Delivery Mode -->
					<% if User.find(a.borrower_id).is_delivery %>
						<td>Delivery</td>
					<% else %>
						<td>Self Pick/Drop</td>
					<% end %>

					<!-- Acceptance Date -->
					<td><%= a.acceptance_date.to_s(:long) %></td>

					<!-- Received Date -->
					<% if a.received_date.nil? %>
						<td>Pending</td>
					<% else %>
						<td><%= a.received_date.to_s(:long) %></td>
					<% end %>

					<!-- Return Date -->
					<% if a.returned_date.nil? %>
						<td>Pending</td>
					<% else %>
						<td><%= a.returned_date.to_s(:long) %></td>
					<% end %>
					
					<!-- Status -->
					<% if a.status == 'Accepted' %>
						<% if (User.find(a.lender_id).is_delivery or User.find(a.borrower_id).is_delivery) %>
							<td>
								<p id="p_accepted_<%= a.id %>">Sent to Borrower</p>
								<input class="btn btn-small" type="button" disabled='true' value="Received" id="received_lender_<%= a.id %>" data-trid=<%= a.id %> />
							</td>
						<% else %>
							<td>
								<p id="p_accepted_<%= a.id %>">Meetup as decided</p>
								<input class="btn btn-small" type="button" value="Handed Over" id="handed_over_<%= a.id %>" data-trid=<%= a.id %> />
							</td>
						<% end %>
					<% else %>
						<% if a.returned_date.nil? %>
							<td>
								<p id="p_accepted_<%= a.id %>">Received by Borrower</p>
								<input class="btn btn-small" type="button" value="Received" id="received_lender_<%= a.id %>" disabled='true' data-trid=<%= a.id %> />
							</td>
						<% else %>
							<td>Returned by Borrower<input class="btn btn-small" type="button" value="Received" id="received_lender_<%= a.id %>" data-trid=<%= a.id %> />
							</td>
						<% end %>
					<% end %>	

				</tr>
			<% end %>
		<% end %>	
	</tbody>
</table>