<% unless @borrow.empty? %>
	<% @borrow.each do |b| %>
		$("#borrow_requests_table > tbody:last").append("raw(<tr data-time='<%= b.updated_at.to_i %>'><td><%= Book.find(Inventory.find(b.inventory_id).book.id).book_name %></td><td><%= Address.find(Inventory.find(b.inventory_id).available_in_city).address_summary %></td><td><%= b.request_date %></td><td><%= b.status %></td></tr>)");
	<% end %>
	$("#borrow_requests_div").show(500);
<% end %>