<h3>My Transaction History</h3>

<%= paginate @t_history %>

<% if !@t_history.empty? %>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Lender/Borrower</th>
        <th>Rating </th>
        <th>Request Date @</th>
      </tr>
    <thead>

    <tbody>
      <% @t_history.each do |th| %>
        <tr>
          <!-- Book Name -->
          <td><%= Book.find(Inventory.find(th.inventory_id).book_id).book_name %></td>
        <!-- Checking If user is Lender or borrower for this transaction -->
          <% if th.lender_id == current_user.id %>
            <!-- Link To full Profile -->
            <td>
              <%= link_to User.find(th.borrower_id).full_name, "/profile/public_rating/#{th.id}" %> &nbsp;
              <% if (DateTime.now.to_time - Profile.where(:user_id => th.borrower_id).first.last_seen_at < 6 ) %>
                <%= image_tag("online_dot.png", :class => "online_" + th.borrower_id.to_s, :size => "10x6", :id => "online_" + th.borrower_id.to_s, "data-trid" => th.id, "data-currentcn" => User.find(current_user.id).profile.chat_name, "data-lendercn" => User.find(th.lender_id).profile.chat_name, "data-borrowercn" => User.find(th.borrower_id).profile.chat_name, "data-title" => Book.where(:id => Inventory.where(:id => th.inventory_id).take.book_id).take.book_name) %>
              <% else %>
                <%= image_tag("online_dot.png", :hidden => :true, :class => "online_" + th.borrower_id.to_s, :size => "10x6", :id => "online_" + th.borrower_id.to_s, "data-trid" => th.id, "data-currentcn" => User.find(current_user.id).profile.chat_name, "data-lendercn" => User.find(th.lender_id).profile.chat_name, "data-borrowercn" => User.find(th.borrower_id).profile.chat_name, "data-title" => Book.where(:id => Inventory.where(:id => th.inventory_id).take.book_id).take.book_name) %>
              <% end %>
            </td>

            <!-- feedback -->
            <td>
              <%= th.borrower_feedback.capitalize %>
            </td>
          <% else %>
            <td>
              <%= link_to User.find(th.lender_id).full_name, "/profile/public_rating/#{th.id}" %> &nbsp;
              <% if (DateTime.now.to_time - Profile.where(:user_id => th.lender_id).first.last_seen_at < 6 ) %> 
                <%= image_tag("online_dot.png", :size => "10x6", :class => "online_" + th.lender_id.to_s, :id => "online_" + th.lender_id.to_s, "data-trid" => th.id, "data-currentcn" => User.find(current_user.id).profile.chat_name, "data-lendercn" => User.find(th.lender_id).profile.chat_name, "data-borrowercn" => User.find(th.borrower_id).profile.chat_name, "data-title" => Book.where(:id => Inventory.where(:id => th.inventory_id).take.book_id).take.book_name) %>
              <% else %>
                <%= image_tag("online_dot.png", :size => "10x6", :hidden => :true, :class => "online_" + th.lender_id.to_s, :id => "online_" + th.lender_id.to_s, "data-trid" => th.id, "data-currentcn" => User.find(current_user.id).profile.chat_name, "data-lendercn" => User.find(th.lender_id).profile.chat_name, "data-borrowercn" => User.find(th.borrower_id).profile.chat_name, "data-title" => Book.where(:id => Inventory.where(:id => th.inventory_id).take.book_id).take.book_name) %>
              <% end %>
            </td>
            <td>
              <%= th.lender_feedback.capitalize %>
            </td>
          <% end %>

          <td><%= th.request_date.to_s(:long) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>