<h3>Current Transactions</h3>

<table class="table table-striped table-bordered table-hover" id="conversations_table">
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Chat</th>
      <th>Chat</th>
    </tr>
  </thead>
  <tbody>
    <% if @current_transactions.empty? %>
      <tr>
        <td colspan='3'>You have no active transactions as of now</td>
      </tr>
    <% else %>
      <% @current_transactions.each do |t| %>
        <tr id=<%= t.id %> >
          <td><%= Book.where(:id => Inventory.where(:id => t.inventory_id).take.book_id).take.book_name %></td>
          <td><%= link_to "Chat", chat_path(t.id), class: "btn btn-small "%></td>
          <!-- #TODO Check for alternative to double querying, or is it cached? -->
          <td><%= tag "input", :type => "button", :id => "chat_#{t.id}", :class => "btn" , :value => "Chat ", "data-trid" => t.id , "data-title" => Book.where(:id => Inventory.where(:id => t.inventory_id).take.book_id).take.book_name ,"data-chatidlist" => @current_transactions_id%></td>
        </tr>
      <% end %>
     <% end %> 
  </tbody>
</table>

<% @current_transactions.each do |t| %>
  <div id="chat_div_<%= t.id %>">
  </div>
<% end %>
<br/>