<%= title('Project Lectito') %>

<br/>
<div class='jumbotron cbg'>
  <div class='row'>
    <div class='col-md-7'>
      <h1>Hello, world!</h1><br/>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <br/>
      <p> Sign Up! Its free and easy </p>
      <%= link_to 'Sign-Up', new_user_registration_path, class: 'btn btn-lg btn-success'%>
    </div>

    <div class='col-md-1 vertical_divider'></div>

    <div class='col-md-4 fpts'>

    <h3> Try it Now ! </h3>

      <h5>Search for a book that you'd like to borrow in your city!</h5>

      <div class='form_padding'>

        <%= form_tag() do %>

          <div id='city_validation'></div>

          <%= select_tag :city, options_for_select(india_cities), prompt: 'I live in..', class: 'form-control' %>

          <div id='author_book_validation'></div>

          <p hidden='true' id='author_empty'><i>No Such Author Found</i></p>

          <%= text_field_tag :search_by_author, nil, placeholder: 'Search By Author', class: 'form-control' %>

          <p hidden='true' id='book_name_empty'><i>No Such Book Found</i></p>

          <%= text_field_tag :search_by_book_name, nil, placeholder: 'Search By Book Name', class: 'form-control' %>

        <% end %>

        <%= tag 'input', type: 'button', id: 'search_books', class: 'btn btn-default' , value: 'Search' %></br></br>

      </div>
    </div>
  </div>
</div>

<div class='sbg rounded-corners frontpagesb' id='loo'>
  <div class='row'>
    <div class='col-md-11'>
      <div>
        <h5 id='book_count'></h5>
      </div>
      <div id='search_text'></div>
      <div id='dynamicTable'></div>
    </div>
  </div>
</div>

<br/><br/><br/>

<div class='row'>
  <div class='col-md-4 steps_border uf'>
    <div class='text-center'>
      <i class='fa fa-search fa-3x'></i>
      <h2>Step 1</h2>
    </div>
    <p class='text-center'>Search for the book in your city that you would like to read</p>
  </div>
  <div class='col-md-4 steps_border uf'>
    <div class='text-center'>
      <i class='fa fa-check-circle fa-3x'> </i>
      <i class='fa fa-mail-forward fa-3x'> </i>
      <h2>Step 2</h2>
    </div>
    <p class='text-center'>Found the book?</p>
    <p class='text-center'>Send a request to borrow it</p>
 </div>
  <div class='col-md-4 uf'>
    <div class='text-center'>
      <i class='fa fa-users fa-3x'> </i>
      <h2>Step 3</h2>
    </div>
    <p class='text-center'>Great! Now meet up and get your book</p>
  </div>
</div>
<br/><br/>

<div id='sign_in_or_sign_up' title='Sign In'>
  <div>
    <p>Please select one to continue</p>
    <div class='col-md-2 col-md-offset-1'>
      <%= tag 'input', type: 'button', id: 'sign_in', class: 'btn btn-default btn-primary modal_login', value: 'Sign In' %>
    </div>
    <div class='col-md-2 col-md-offset-3'>
      <%= link_to 'Sign-Up', new_user_registration_path, class: 'btn btn-success'%>
    </div>
  </div>
</div>
