<h3>Edit book</h3><br/>

		<div class='col-md-4'>

			<div class='form_padding'>

				<%= form_tag  "/inventory/#{@inventory.id}", method: :put do %>

					<div id='edit_inventory'>

						<%= text_field_tag :book_name, Book.where(id: @inventory.book_id).take.book_name, placeholder: 'Book Name', required: true, width: '10', disabled: true, class: 'edit_inventory form-control'  %>

						<%= collection_select :inventory, :available_in_city, @address, :id, :address_summary, {}, { class: 'edit_inventory form-control' } %>

						<%= select_tag :status, options_for_select(['Available','Unavailable'], @inventory.status), placeholder: 'Current Status', class: 'edit_inventory form-control'  %>

					</div><br/>

					<%= submit_tag 'Update', class: 'btn btn-default' %>
					<%= link_to 'Back', inventory_index_path, class: 'btn btn-default' %>

				<% end %>
			</div>	
		</div>

		<div class='form_padding'>
			<div class='col-md-4'>
				<ul style='list-style-type: none'>
					<li><%= text_field_tag :isbn, Book.where(id: @inventory.book_id).take.isbn, disabled: true, placeholder: :ISBN , class: 'edit_inventory form-control' %></li>
					<li><%= text_field_tag :author , Book.where(id: @inventory.book_id).take.author, disabled: true, placeholder: :Author , class: 'edit_inventory form-control' %></li>
					<li><%= text_field_tag :language, Book.where(id: @inventory.book_id).take.language, disabled: true, placeholder: :Language , class: 'edit_inventory form-control' %></li>
					<li><%= text_field_tag :genre, Book.where(id: @inventory.book_id).take.genre, disabled: true, placeholder: :Genre , class: 'edit_inventory form-control' %></li>
				</ul>
			</div>
		</div>
