<h3>My Books</h3>

<% if !@inventory.empty? %>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Book Name</th>
        <th>Author</th>
        <th>Available @</th>
        <!-- <th>Rental</th> -->
        <th>Current Status</th>
        <th colspan='1'>Manage</th>
      </tr>
    <thead>

    <tbody>
      <% @inventory.each do |inventory| %>
        <tr>
          <td><%= inventory.book.book_name %></td>
          <td><%= inventory.book.author %></td>
          <td><%= inventory.user.addresses.find(inventory.available_in_city).address_summary %></td>
          <!-- <td><%= inventory.rental_price %></td> -->
          <td><%= inventory.status %></td>
          <% if inventory.status == "Rented Out" %>
            <td><%= link_to "Edit", edit_inventory_path(inventory.id),:disabled => :true, class: "btn btn-small "%></td>
          <% else %>
            <td><%= link_to "Edit", edit_inventory_path(inventory.id), class: "btn btn-small "%></td>
          <% end %>
          <% if inventory.status == "Rented Out" %>
            <td><%= link_to "Delete", inventory_path(inventory.id), :disabled => :true, :method => "delete", class: "btn btn-small ", data: { confirm: 'Are You sure?' }%></td>
          <% else %>
            <td><%= link_to "Delete", inventory_path(inventory.id), :method => "delete", class: "btn btn-small ", data: { confirm: 'Are You sure?' }%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> 

<br />

<%= link_to 'Add a Book', new_inventory_path, class: "btn btn-small" %>