<%= title('Add My Book') %>

<h3>Add a book</h3><br/>
	
	<div class='row'>
		<div class='col-md-12'>
			<div class='col-md-4'>
				<p hidden='true' id='book_name_empty'><i><b>No Such Book Found, Please enter the details</b></i></p>
				<div class='form_padding'>

					<%= form_tag inventory_index_path, id: 'add_book_form' do %>

						<div id='new_inventory'>
							<%= text_field_tag :book_name, nil, placeholder: 'Book Name', required: :true, width: '10', class: 'form-control' %>
							<%= collection_select :inventory, :available_in_city, @address, :id, :address_summary, {}, { class: 'form-control' } %>
							<%= select_tag :status, options_for_select(['Available','Unavailable'], 'Available'), placeholder: 'Current Status', class: 'form-control' %>
							</br>

							<div class='book_elements'>
								<%= hidden_field_tag :book_id %>
							</div>

						</div>
					
					</div>
				</div>

				<div class='col-md-4'>
					<div class='form_padding'>
						<%= text_field_tag :isbn, nil, disabled: true, placeholder: :ISBN, required: true, class: 'form-control new_book_element' %>
						<%= text_field_tag :author , nil, disabled: true, placeholder: :Author, required: true, class: 'form-control new_book_element' %>
						<%= text_field_tag :language, nil, disabled: true, placeholder: :Language, required: true, class: 'form-control new_book_element' %>
						<%= text_field_tag :genre, nil, disabled: true, placeholder: :Genre, required: true, class: 'form-control new_book_element' %>
					</div>
				</div>
			</div>
		</div>
	
		<div class='row'>
			<div class='col-md-12'>
				<div class='col-md-4'>
					<%= submit_tag 'Add Book', id: :add_book, class: 'btn btn-default', disabled: :true %>
					<%= link_to 'Back', inventory_index_path, class: 'btn btn-default' %>
				<% end %>
			</div>
		</div>
	</div>

