<h3>Add a book</h3>
<%= form_tag  inventory_index_path do %>

<%= text_field_tag :book_name, nil, :placeholder => "Book Name", :required => :true %></br>

<%= text_field_tag :isbn, nil, :disabled => true, :placeholder => :ISBN  %>

<%= text_field_tag :author , nil, :disabled => true, :placeholder => :Author %>
	
<%= text_field_tag :language, nil, :disabled => true, :placeholder => :Language %>

<%= text_field_tag :genre, nil, :disabled => true, :placeholder => :Genre %>

<%= text_field_tag :version, nil, :disabled => true, :placeholder => :Version %>

<%= text_field_tag :edition, nil, :disabled => true, :placeholder => :Edition %>

<%= text_field_tag :publisher, nil, :disabled => true, :placeholder => :Publisher %>

<%= text_field_tag :pages, nil, :disabled => true, :placeholder => :Pages %>

<%= text_field_tag :mrp, nil, :disabled => true, :placeholder => :MRP %>

<%= collection_select :inventory, :available_in_city, @address, :id, :address_summary %></br>

<%= text_field_tag :rental_price, nil, :placeholder => "Rental Price", :required => :true %></br>

<%= select_tag :current_status, options_for_select(['Available','Unavailable'], 'Available'), :placeholder => "Current Status" %>
</br></br>

<%= hidden_field_tag :book_id %>

<%= submit_tag 'Add Book', :id => :add_book %></br></br>
<%= link_to "Back", inventory_index_path, class: "btn btn-small" %>


<% end %>