<h3>Search</h3>

<% if @borrow.blank? %>
  <div id='borrow_requests_div' hidden='true'>
  	<%= render 'transaction/borrow_requests' %>
  </div>
<% else %>
  <div id='borrow_requests_div'>
    <%= render 'transaction/borrow_requests' %>
  </div>
<% end %>

<% if @lend.blank? %>
  <div id='lend_requests_div' hidden='true'>
  	<%= render 'transaction/lend_requests' %>
  </div>
<% else %>
  <div id='lend_requests_div'>
      <%= render 'transaction/lend_requests' %>
    </div>
<% end %>

<% if @accept.blank? %>
  <div id='accepted_requests_div' hidden='true'>
  	<%= render 'transaction/accepted_requests' %>
  </div>
<% else %>
  <div id='accepted_requests_div'>
    <%= render 'transaction/accepted_requests' %>
  </div>
<% end %>

<% if @current.blank? %>
  <div id='current_books_div' hidden='true'>
    <%= render 'transaction/current_books' %>
  </div>
<% else %>
  <div id='current_books_div'>
    <%= render 'transaction/current_books' %>
  </div>
<% end %>

<h5>Search for a book that you'd like to borrow in your city!</h5>

<div class='col-md-4'>

  <div class='form_padding'>

    <%= form_tag() do %>

      <div id='city_validation'></div>

      <%= select_tag :city, options_for_select(india_cities), prompt: 'Select your city..', class: 'form-control'  %>

      <div id='author_book_validation'></div>

      <p hidden='true' id='author_empty'><i><b>No Such Author Found</b></i></p>

      <%= text_field_tag :search_by_author, nil, placeholder: 'Search By Author', class: 'form-control' %>  

      <p hidden='true' id='book_name_empty'><i><b>No Such Book Found</b></i></p>

      <%= text_field_tag :search_by_book_name, nil, placeholder: 'Search By Book Name', class: 'form-control' %>    

    <% end %>

    <%= tag 'input', type: 'button', id: 'search_books', class: 'btn btn-default' , value: 'Search' %></br></br>

  </div>

</div>

<div class='col-md-11'>
  <div>
    <h5 id='book_count'></h5>
  </div>
  <div id='search_text'></div>
  <div id='dynamicTable'></div>
</div>  

<%= render 'dialogs' %>
