var $tbody, button_element, rental_available_at, $rental_data ='<tbody>', table_row_id, row_number, delivery_charges, $final_table='';

city = $('#city').val()
sub_table_id = 'sub_search_results_table_' + <%= params[:book_id] %>
sub_table_id_s = '#' + sub_table_id
row_number = <%= params[:row_number] %>
$(sub_table_id_s).remove();

$sub_tr_beg = "<tr id='city_<%= params[:book_id] %>'><td colspan='2' style='overflow-x:scroll; white-space:nowrap; text-align:center'>"
$sub_tr_end = '</td></tr>'

$sub_table_beg = "<table id='sub_search_results_table_<%= params[:book_id] %>' class='table table-hover table-condensed table-bordered table-striped' style='display:inline-table; margin-right:20px; width:200px; margin-bottom:0px;'><tbody style='white-space:normal;'>"
$sub_table_end = '</tbody></table>'

if (<%= @users_and_address.length %> === 0) {
  $('#city_<%= params[:book_id] %>').remove();
  $rental_data += "<tr><td colspan='4'> Sorry, this book isnt available in your city </td></tr>";
  $final_table = $sub_table_beg + $rental_data + $sub_table_end;

} else {
// Button Element
  <%= i = 0 %>
  <% while i < @users_and_address.length %>
    <%= j = i + 1 %>

    // Button Element
    <% if !user_signed_in? %>
      button_element = "<tr><td class='manage'>&nbsp;&nbsp;</i><input type='button' value='I&apos;d like to borrow it!' class='btn btn-default borrow_button_offline' id='borrow_<%= @users_and_address[i].id %>' data-uid='<%= @users_and_address[i].user_id %>' data-ubid='<%= @users_and_address[i].id %>'/></td></tr>";
    <% else %>
      if (<%= @transactions_requested.include?@users_and_address[i].id.to_s %>){
        button_element = "<tr><td class='manage'><input type='button' value='Request Sent' disabled = 'true' class='btn btn-default borrow_button' id='borrow_<%= @users_and_address[i].id %>' data-uid='<%= @users_and_address[i].user_id %>' data-ubid='<%= @users_and_address[i].id %>'/></td></tr>";
      }
      else {
        <% if !current_user.is_delivery and User.find(@users_and_address[i].user_id).is_delivery  %>
          button_element = "<tr><td class='manage' colspan='2'><input type='button' value='I&apos;d like to borrow it!' class='btn btn-default borrow_button' id='borrow_<%= @users_and_address[i].id %>' data-uid='<%= @users_and_address[i].user_id %>' data-ubid='<%= @users_and_address[i].id %>' data-selftodel='true' data-cityid ='<%= params[:book_id] %>' /></td></tr>";
        <% else %>
          button_element = "<tr><td class='manage' colspan='2'><input type='button' value='I&apos;d like to borrow it!' class='btn btn-default borrow_button' id='borrow_<%= @users_and_address[i].id %>' data-uid='<%= @users_and_address[i].user_id %>' data-ubid='<%= @users_and_address[i].id %>' data-selftodel='false' data-cityid ='<%= params[:book_id] %>' /></td></tr>";
        <% end %>
      }
    <% end %>

    // Delivery
    delivery_charges = '<td>60</td>'

    // Address
    rental_available_at = "<tr><td colspan='2' style='height:80px;'>" + "<i class='fa fa-globe'>&nbsp;&nbsp;</i><%= @users_and_address[j].address_summary %>" + '</td></tr>';

    // Lender Name
    lender_name = '<td>' + "<i class='fa fa-user'>&nbsp;&nbsp;</i><%= @users_and_address[i].user.full_name %>" + '</td>';

    // Delivery Mode
    <% if @users_and_address[i].user.is_delivery %>{
      delivery_mode = '<td>Delivery</td>';
    }
    <% else %>{
      delivery_mode = '<td>Self Pick/Drop</td>';
    }
    <% end %>

    // Rental Data
    <% if !user_signed_in? || current_user.is_delivery || @delivery_uwb %>
      $rental_data = rental_available_at + button_element; // + delivery_mode + button_element + "</tr>"; //+ delivery_charges 
    <% else %>
      $rental_data = lender_name + rental_available_at + button_element;
    <% end %>

    $final_table += $sub_table_beg + $rental_data + $sub_table_end

    <%= i = i + 2 %>
  <% end %>

  $('#city_<%= params[:book_id] %>').remove();
  $final_table = $sub_tr_beg + $final_table + $sub_tr_end
}

$('#book_count').text(<%= ((@users_and_address.length.to_i)/2).to_s %> +  ' book(s) found');
$('#search_results_table > tbody > tr').eq(row_number).after($final_table);
