<h3>Search </h3>

<div id="borrow_requests_div">
	<%= render "transaction/borrow_requests" %>
</div>

<div id="lend_requests_div">
	<%= render "transaction/lend_requests" %>
</div>

<div id="accepted_requests_div">
	<%= render "transaction/accepted_requests" %>
</div>

<div id="current_books_div">
  <%= render "transaction/current_books" %>
</div>

<h5>Search for a book that you'd like to borrow in your city!</h5>

<%= form_tag() do %>
<div id="city_validation"></div>

<%= select_tag :city, options_for_select(india_cities), :prompt => "Select your city.."  %></br>

<div id="author_book_validation"></div>

<%= text_field_tag :search_by_author, nil, :placeholder => "Search By Author" %></br>

<%= text_field_tag :search_by_book_name, nil, :placeholder => "Search By Book Name" %></br>

<% end %>

<%= tag "input", :type => "button", :id => "search_books", :class => "btn" , :value => "Search" %></br></br>

<div id="search_text">

</div>

<div id="accept_request_confirm" title="Accept Request">
  <p id="accept_info"></p>
  <p id="user_dispatch_date">Please specify a good time to pick up the book for delivery </p>
  <div id="accept_datepicker">
	  <%= text_field_tag :dispatch_date, Date.tomorrow, :placeholder => "Select Date" %></br>
  </div>
  <input type="radio" name="dispatchTime" value="Before 1 PM" checked="true"> Before 1 PM <br>
  <input type="radio" name="dispatchTime" value="After 1 PM">  After 1 PM
</div>

<div id="return_request_confirm" title="Return Request">
  <p id="return_info"></p>
  <p id="return_dispatch_date">Please specify a good time to pick up the book for delivery </p>
  <div id="return_info_datepicker">
    <%= text_field_tag :return_pickup_date, Date.tomorrow, :placeholder => "Select Date" %></br>
  </div>
  <input type="radio" name="return_time" value="Before 1 PM" checked="true"> Before 1 PM <br>
  <input type="radio" name="return_time" value="After 1 PM">  After 1 PM
</div>

<div id="received_book_confirm" title="Return Request">
  <p>Please rate your experience to complete this transaction </p>
  <input type="radio" name="lender_feedback" value="good" checked="true"> Good <br>
  <input type="radio" name="lender_feedback" value="neutral">  Neutral <br>
  <input type="radio" name="lender_feedback" value="bad">  Bad <br>
  <div id="lender_comments_div">
    <%= text_field_tag :lender_comments, nil, :placeholder => "Comments" %></br>
  </div>
</div>

<div id="error_message" title="Error">
  <p>Oops. Something went wrong. Please try again later</p>
</div>

<div id="login" title="Sign In">
  <p>Please Sign-in or Sign up !</p>
</div>

<div id="borrow_confirm" title="Borrow Request">
  <p>You are about to send a request to borrow this book </p>
</div>

<div id="reject_request_confirm" title="Reject Request">
  <p>You are about to Reject this request</p>
  <input type="radio" name="rejectReason" value="Unavailable" checked="true"> I am currently Unavailable <br>
  <input type="radio" name="rejectReason" value="Do Not Wish To Lend"> I do not wish to lend this book as of now
</div>

<div id="cancel_transaction" title="Cancel Transaction">
  <p>You are about to cancel this request</p>
</div>

<div id="dynamicTable">

</div>
