<%= form_for @profile, :url => profile_path do |f| %>
<%= render 'error_messages' %>

<%= f.text_field :user_first_name, :placeholder => "First Name", :required => :true %></br>

<%= f.text_field :user_last_name, :placeholder => "Last Name", :required => :true %></br>	

<%= f.text_field :user_phone_no, :placeholder => "10 Digit Phone Number", :maxlength => "10", :required => :true, numericality: true %></br>

<div>
<span>Gender </span>
<%= f.radio_button :gender, "M", :checked => 'checked' %><span style="margin:10px 10px; vertical-align:middle; padding-">Male </span>
<%= f.radio_button :gender, "F" %><span style="margin:10px 10px; vertical-align:middle;">Female</span></br></br>
</div>

Mode of Delivery &nbsp; &nbsp;
<%= f.radio_button :delivery, "true", :checked => 'checked' %>&nbsp; &nbsp; &nbsp;Delivery &nbsp; &nbsp;
<%= f.radio_button :delivery, "false" %>&nbsp; &nbsp; Self Pick/Drop</br></br>

<%= f.label "Date", "Date Of Birth" %>
<%= f.text_field :DoB, :placeholder => "Select Date of Birth", :required => :true, :class => "dob_class"%>

</br></br>
<%= f.check_box :contact_via_sms %>  Send me SMS alerts</br></br>

<%= f.submit "Update", class: "btn btn-small " %></br></br>

<%= link_to 'Add Address', address_path, class: "btn btn-small" %>

<% end %>