<h3>Profile</h3><br/>

<div class='col-md-3'>

  <div class='form_padding'>

    <%= form_for @profile, :url => profile_index_path, :method => :post do |f| %>

      <%= render 'error_messages' %>

      <%= f.text_field :user_first_name, :placeholder => 'First Name', :required => :true %>

      <%= f.text_field :user_last_name, :placeholder => 'Last Name', :required => :true %>

      <%= f.text_field :user_phone_no, :placeholder => '10 Digit Phone Number', :maxlength => '10', :required => :true, numericality: true %>

      <div class='row'>
        <div class='col-md-6'>
          <%= f.radio_button :gender, 'M', class: 'form-control', checked: true %>
          <%= f.label 'Male', 'Male' %></span>
        </div>
        <div class='col-md-6'>
          <%= f.radio_button :gender, 'F', class: 'form-control' %>
          <%= f.label 'Female', 'Female' %></span>
        </div>        
      </div>
      <br/>

      <!-- Mode of Delivery &nbsp; &nbsp;
      <%= f.radio_button :delivery, 'true', :checked => 'checked' %>&nbsp; &nbsp; &nbsp;Delivery &nbsp; &nbsp;
      <%= f.radio_button :delivery, 'false' %>&nbsp; &nbsp; Self Pick/Drop</br></br>
      -->

      <%= f.label 'Date', 'Date Of Birth' %>
      <%= f.text_field :DoB, :placeholder => 'Select Date of Birth', :required => :true, :class => 'dob_class form-control'%>

      </br></br>
      <!-- <%= f.check_box :contact_via_sms %>  Send me SMS alerts</br></br> -->

      <%= f.submit 'Update', class: 'btn btn-default' %></br></br>

      <%= link_to 'Add Address', new_address_path, class: 'btn btn-default' %>

    <% end %>

  </div>

</div>  