<h4> SMS Verification </h4>

<b><i> Please don't refresh this page</i></b><br/><br/>

<% if @otp_failed_attempts > 0 %>
  <b>Failed attempts : <%= @otp_failed_attempts %></b><br/><br/>
  <% if @otp_failed_attempts == 3 %>
    <% if !flash[:notice] %>
      <% flash.now[:alert] = 'You have exceeded the number of attempts. Your account has been locked. You can try again after 24 hours ' %>
    <% end %>
  <% end %>
<% end %>

Please enter the 6 digit code sent to you on <b><%= @mobile_number %></b> <u><%= link_to "Din't receive code?Click here to resend", profile_otp_resend_path(number: params[:number]), { style: 'font-size:85%;' } %></u>

<br/><br/>

<div class='col-md-2'>

  <div class='form_padding'>

    <%= form_tag profile_otp_verification_path, method: :get do %>

    <% if @locked %>

      <%= text_field_tag :verification_code, nil, placeholder: 'Enter Code', disabled: :true, required: :true, autofocus: true, class: 'form-control' %>

      <%= hidden_field_tag :number, params[:number] %><br/>

      <%= submit_tag 'Confirm', class: 'btn btn-default', disabled: :true %>

    <% else %>

      <%= text_field_tag :verification_code, nil, placeholder: 'Enter Code', required: :true, autofocus: true, class: 'form-control' %>

      <%= hidden_field_tag :number, params[:number] %><br/>

      <%= submit_tag 'Confirm', class: 'btn btn-default' %>

    <% end %>
      

    <% end %>

  </div>

</div>
