<h4> SMS Verification </h4>
<em> Please don't refresh this page</em><br/><br/>


Please enter the 6 digit code sent to you on <b><%= @mobile_number %></b>

<br/><br/>

<div class='col-md-2'>

  <div class='form_padding'>

    <%= form_tag profile_otp_verification_path, method: :get do %>

      <%= text_field_tag :verification_code, nil, placeholder: 'Enter Code', reuired: :true, autofocus: true, class: 'form-control' %>

      <%= hidden_field_tag :number, params[:number] %><br/>

      <%= submit_tag 'Confirm', class: 'btn btn-default' %>

    <% end %>

  </div>

</div>
