<h3><%= @name %></h3></br>

<div class='row'>
  <div class='col-md-4'>

    <div class='row'>
      
      <div class='col-md-6'>
        <div class='form_padding'>
          <%= label_tag 'Total Books' %><br/>
          <%= label_tag 'Total Transactions' %><br/>          
        </div>
      </div>

      <div class='col-md-6'>
        <div class='form_padding'>
          <%= label_tag @total_books %><br/>
          <%= label_tag @total_transactions %><br/>
        </div>
      </div>

    </div>

    <div class='row'>

      <div class='col-md-6'>
        <div class='form_padding text-right'>
          <%= label_tag 'Feedback' %><br/>
        </div>
      </div>  

    </div>

    <div class='row'>

      <div class='col-md-6'>
        <div class='form_padding'>
          <%= label_tag 'Good' %><br/>
          <%= label_tag 'Neutral' %><br/>
          <%= label_tag 'Bad' %><br/>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='form_padding'>
          <%= label_tag @good %><br/>
          <%= label_tag @neutral %><br/>
          <%= label_tag @bad %><br/>
        </div>
      </div>

    </div>

  </div>

  <div class='col-md-8'>
    <h4> Recent Comments </h4>
    <% @comment_history.first(5).each do |ch| %>
      <div class=" well "><%= ch %></div>
    <% end %>
  </div>

</div>      
      