<div id='sign_in_div'>
  <div class='row sign_in_modal eHeight'>
    <div class='span3'>
      <div class='row'>
        <div class='span2'>
          <h5>Sign In</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "navbar-form pull-right"} ) do |f| %>
            <%= f.email_field :email, autofocus: true, placeholder: :Email, class: :span2 %>
            <%= f.password_field :password, placeholder: "Password", class: :span2 %>
            <br/>
            <%= f.submit "Sign In", class: :btn %>
          <% end %>
          <%= link_to "Forgot password", new_password_path(resource_name), class: :fplink %><br />
        </div>
        <div class='span1 pull-right text-right'>
          <br/><br/><br/>| OR |
        </div>  
      </div>
    </div>
    <div class='span3 text-center eHeight'>
      <h5>Sign In Using</h5>
      <div class='row sml'>
        <%= link_to image_tag('sign_in_twitter.png'), '#' %> <!-- #user_omniauth_authorize_path(:twitter) %> -->
        <%= link_to image_tag('sign_in_facebook.png'), '#' %> <!-- #user_omniauth_authorize_path(:facebook) %> -->
        <%= link_to image_tag('sign_in_google+.png'), '#' %> <!-- user_omniauth_authorize_path(:google_oauth2) %> -->
      </div>
    </div>
  </div>
</div>