<!DOCTYPE html>
<html>
  <head>
    <title>ProjectLectito</title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js' %>
    <%= csrf_meta_tags %>
    <!-- Responeible for responsive-ness on mobile devices -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  </head>

  <body>
    <div class='wrapper'>
      <%= render 'layouts/header' %>
        <div class='container'>
          <div class = 'container' >
            <div class = 'row'>
              <div class = 'span10'>
                <% if flash[:notice] %>
                <p class='label label-success'><%= flash[:notice] %></p>
                <% end %>
                <% if flash[:error] %>
                <p class='label label-important'><%= flash[:error] %></p>
                <% end %>
                <% if flash[:info] %>
                <p class='label label-info'><%= flash[:info] %></p>
                <% end %>
                <% if alert %>
                <p class='alert alert-error'><%= alert %></p>
                <% end %>
                <%= yield %>
                <% if user_signed_in? %>
                  <div id='chat_divs'>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
